*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-size: 10px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  // max-width: 96rem;
  // margin: 0 auto;
}

.container {
  width: 90%;
  max-width: 74rem;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    max-width: 100%;
  }
}
